[Desktop Entry]
Name=Keystore explorer
Icon=/home/andrej/bin/keystore-explorer/icons/kse_128.png
Exec=/home/andrej/bin/keystore-explorer/kse.sh
Name[en]=Keystore explorer
Comment=Keystore explorer
Categories=GNOME;GTK;Development;
Encoding=UTF-8
Type=Application
Terminal=false

