[Desktop Entry]
Name=SQuirreL SQL Client
Icon=/home/andrej/bin/squirrel-sql/icons/acorn.xpm
Exec=/home/andrej/bin/squirrel-sql/squirrel-sql.sh
Name[en]=SQuirreL SQL Client
Name[en_US]=SQuirreL SQL Client
Comment=An ISQL tool
Comment[en]=An ISQL tool
Categories=Development
Encoding=UTF-8
Type=Application
Terminal=false
